<div class="container">
  <mat-divider></mat-divider>
  <div class="greetings">
    <h1 class="main-title"><b>Dear Kiddo</b></h1>
    <h2>
      <b><i>It's time to give closure to <br>2023 together</i>😊</b>
    </h2>
    <div class="couple-pic-row">
      <!--  -->
      <img src="../../../assets/images/cute-friends-img.jpg" alt="Girl in a jacket"
      class="couple-img" width="300" height="300">
    </div>
    <h3><b>Ready?</b></h3>
    <button mat-button (click)="openReadyDialog()">Yes Ready💙</button>
  </div>
</div>
