<mat-toolbar>
  <button class="back-page-btn" mat-button routerLink="/welcome">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="welcome-card">
  <mat-card-header>
    <mat-card-title>Dear Kiddo</mat-card-title>
    <mat-card-subtitle>
      <i>
        You were the most beautiful part of last year, you will be the most beautiful part of this year as well,
        and I want to start the first moment of this year with you.
      </i>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Happy New Year to my favorite person.
  </mat-card-content>
  <mat-card-actions>
    <button class="open-message-btn" mat-button (click)="openNewYearWishesDialog()">
      <mat-icon>redeem</mat-icon>message
    </button>
  </mat-card-actions>
</mat-card>
