<mat-toolbar>
  <button class="back-page-btn" mat-mini-fab routerLink="/welcome">
    <mat-icon>west</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="welcome-card">
  <mat-card-header>
    <mat-card-title>Dear Kiddo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="wish-content-card">
      <mat-card-content>
        <div class="wish-content">
          <br><b>
          You were the most beautiful part of last year, you will be the most beautiful part of this year as well,
          and I want to start the first moment of this year with you.<br>
          So the year is going to end soon and this is to tell you that I am literally happy to begin the next year
          with you. Your mere presence made this year better filling it with beautiful memories and giggles,
          I see how we were the previous year, and yes we have changed and grown up. I miss how we used to be
          but now I appreciate how the way we are. I don't know how to say it but you, yes you were the
          best of every day of the previous year and I want it to be the same every year because you are
          like a warm blanket, my safe place, my home and I love you more with each passing day with each passing year.
          <br><br></b>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-subtitle>Happy New Year to my favorite person.</mat-card-subtitle>
  <mat-card-actions>
    <button class="open-message-btn" mat-button (click)="openNewYearWishesDialog()">
      <mat-icon>redeem</mat-icon>message
    </button>
  </mat-card-actions>
</mat-card>
