<mat-toolbar>
  <button class="back-page-btn" mat-mini-fab routerLink="/audio-player">
    <mat-icon>west</mat-icon>
  </button>
  <button class="next-page-btn" mat-mini-fab routerLink="/">
    <mat-icon>east</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div style="justify-content: center;">
    <video class="video-content" autoplay>
      <source src="../../../assets/videos/gratitude.mp4" type="video/mp4">
    </video>
  </div>
  <mat-card class="gratitude-content-card">
    <mat-card-subtitle>
      In a world of miscommunication, you were my<br>
      "tune jo na kaha, me wo sunta raha" person.<br>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="gratitude-content">
        Everything began with a text message, but now you hold a special place in my heart that means the world to me.
        Our connection born from randomness, has grown into something beautiful, and I cherish it deeply.
        From the first message to where we are now, I'm grateful for the journey we have shared and the bond we have formed.
        Your presence in my life is priceless. I wanted to let you know that you are a lovely human being.
        I hope you know - I appreciate you more than you could ever imagine.
        You have helped me through some tough times without even knowing it. You are such a bright light in this world.
        Thank you so much for coming into my life and for being such a great person, always hearing me out,
        for listening to my stupid, boring, and childish stories, and for being there for me at my lowest point.
      </div>
    </mat-card-content>
  </mat-card>
  <br>Khyal rkha kar apna,
  <br>ek he cartoon he mere pass.
</div>
