.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  max-width: 500px;
  flex-direction: row;
  align-items: left;
  white-space: nowrap;
  height: 50px;
}

.back-page-btn, .next-page-btn {
  background-color: white;
}

.next-page-btn {
  margin-left: 5px;
}

mat-card-subtitle {
  color:rgb(1, 11, 52);
}

.container{
  background-image: url(../../../assets/images/gratitude-bg.png);
  background-size: cover;
  max-width: 400px;
  text-align: center;
  font-size: medium;
  font-style: italic;
  font-family: 'Bradley Hand', cursive;
}

.video-content {
  margin-top:10px;
  max-width: 350px;
  max-height: 350px;
}

h3 {
  font-style: italic;
  font-size: medium;
  font-family: 'Bradley Hand', cursive;
}

mat-card-subtitle, .gratitude-content {
  display: block;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: medium;
  font-style: italic;
  font-family: 'Bradley Hand', cursive;
}

.gratitude-content-card {
  background-image: url(../../../assets/images/gratitude-pg-msg-img.png);
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 400px;
  font-family: 'Bradley Hand', cursive;
}

.mat-icon {
  color: rgb(4, 4, 144);
}

.footer {
  display: block;
  justify-content: center;
  text-align: center;
}

.heart-icon {
  font-size: 35px;
}


