.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  max-width: 500px;
  flex-direction: row;
  align-items: left;
  white-space: nowrap;
  height: 50px;
}

.back-page-btn, .next-page-btn {
  background-color: white;
}

.next-page-btn {
  margin-left: 5px;
}

.container{
  background-image: url(../../../assets/images/gratitude-bg.png);
  background-size: cover;
  max-width: 400px;
  text-align: center;
}

.video-content {
  margin-top:10px;
  max-width: 350px;
  max-height: 350px;
}
